.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
  overflow: auto;
}

.back {
  position: fixed;
  top: 20%;
  left: 10%;
  color: white;
  opacity: 0.7;
}

.back:hover {
  opacity: 1;
}
