body {
  font-family: "Manrope3";
}

.registration {
  height: 100%;
}

.options-container {
  margin: 0 auto;
  width: 60%;
}

.top-space {
  margin-top: 0.4em;
}

.align-icon {
  vertical-align: middle;
}

.individualOrTeamTitle {
  text-align: center;
}

.white-title {
  color: white;
  font: "Manrope3";
  text-align: center;
  margin: 0;
}

.bottom-space {
  margin-bottom: 0.4em;
}
