p {
  font-size: 14px;
}

.center-card {
  margin: 0 auto;
}

.icon-text-block {
  display: inline-block;
}

.center-text-with-icon {
  display: inline-block;
  vertical-align: top;
}

.card-style {
  opacity: 1;
  cursor: pointer;
}

.card-style:hover {
  opacity: 0.9;
}
